page-home {

#svg-id{
    display: inline; 
    width: inherit; 
    min-width: inherit; 
    max-width: inherit; 
    height: inherit; 
    min-height: inherit; 
    max-height: inherit;
}

#Region path{
	display:none;
}

#r1 path {
    display: block;
}
.animate{
animation-name: myanimation;
animation-duration:3s;
fill:red;
}

@-webkit-keyframes myanimation {
    from{fill:red;}
	to {fill:yellow;}
}
@-moz-keyframes myanimation {
    from{fill:red;}
	to {fill:yellow;}
}
@keyframes myanimation { 
    from{fill:red;}
	to {fill:yellow;}
}

}
